# version=RHEL7
# Install in text mode
install
text
skipx

# Root password
auth --enableshadow --passalgo=sha512
rootpw --plaintext 123456

%packages
@^minimal
@core
nfs-utils
autofs
rsync
bash-completion
ypbind
gcc
wget
net-tools
lsof
%end

# Keyboard layouts
keyboard us
# System language
lang en_US.UTF-8

# Run the Setup Agent on first boot
firstboot --disable

# ignore U driver
#ignoredisk --drives=disk/by-id/usb-SanDisk_SanDisk_3.2_Gen1_A20033866F095D55-0:0
ignoredisk --drives=disk/by-id/usb-SanDisk_Cruzer_Blade_00022713092321113226-0:0

selinux --disabled
firewall --disabled
reboot

services --enabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc --ntpservers=ntp.aliyun.com

# Specifies how the boot loader should be installed.
bootloader --location=mbr

# Partition clearing information
clearpart --all --initlabel
part /boot/efi --fstype="efi" --grow --maxsize=200 --size=20
part /boot --fstype="xfs" --size=1024
part pv.01 --size=1 --grow
volgroup vg pv.01
logvol / --vgname=vg --size=30720 --name=lv_root --fstype="xfs"
logvol swap --vgname=vg --size=1024 --name=lv_swap --fstype="swap"

%addon com_redhat_kdump --disable --reserve-mb='auto'
%end

%post --interpreter=/usr/bin/bash --log=/root/ks-post.log

sed -e 's|^mirrorlist=|#mirrorlist=|g' \
-e 's|^#baseurl=http://mirror.centos.org/centos|baseurl=https://mirrors.ustc.edu.cn/centos|g' \
-i.bak \
/etc/yum.repos.d/CentOS-Base.repo

tee -a /etc/sysctl.d/docker.conf << EOM
net.ipv4.ip_forward = 1
net.bridge.bridge-nf-call-iptables = 1
net.bridge.bridge-nf-call-ip6tables = 1
EOM

tee -a /etc/security/limits.d/custom.conf << EOM
*       soft    nproc   131072
*       hard    nproc   131072
*       soft    nofile  131072
*       hard    nofile  131072
EOM

tee -a /etc/modprobe.d/sunrpc.conf << EOM
options sunrpc tcp_slot_table_entries=128
options sunrpc tcp_max_slot_table_entries=128
EOM

sed -ri '/^#UseDNS/cUseDNS no' /etc/ssh/sshd_config
sed -ri 's/GSSAPIAuthentication yes/GSSAPIAuthentication no/g' /etc/ssh/sshd_config

%end
